body {
	min-width: unset;
}

.frame-content {
	padding: 80px;
}

img {
  max-width: 100%;
}

h1 {
  font-family: hatch, monospace;
  display: inline;
}

.thumbnail {
  display: inline;
  height: 60px;
  padding-right: 10px;
  margin-bottom: -17px;
}

.text {
  padding-top: 80px;
}

p {
  font-family: signo, neue-haas-unica, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 22px;
}
