<section id="about" class="inactive layer-1">
  <div class="wrapper">
    <div class="row">
      <div class="col-xs-12 col-md-6">
        <header>
          <h1>About This Site</h1>
        </header>
        <article>
          <p>This website acts as a living, relational index of terms and images related to my undergraduate thesis in Graphic Design from MICA.</p>
        </article>
      </div>
    </div>
  </div>
</section>
