<% projects = blog.articles %>

<section id="contents" class="layer-2<% if locals[:inactive] %> inactive<% end %>">
  <div class="border"></div>
  <div class="wrapper">
    <header>
      <h1>
        <a href="/"><%= data.site.title %></a>
      </h1>
    </header>
    <div id="timeline"></div>
  </div>
</section>
